:root {
    --title-text-color: #757575;
    --primary-text-color: #212121;
    --link-text-color: #2196F3;
    --accent-text-color: #FFFFFF;
    --background-color: #2F303A;
    --backgr-color: #F5F4FA;
}

body{
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
}

a {
    text-decoration: none;
    color: var(--primary-text-color);

}

.logo-word {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--link-text-color);
}

.logo-word-black {
    color: var(--primary-text-color);
}

.logo-word-white {
    color: var(--accent-text-color);
}

.active {
    color: var(--link-text-color);
}

a:hover {
    color: var(--link-text-color);
}

.head-line-height-contacts .nav-link:hover, .head-line-height-contacts .nav-link:focus {
    color: var(--link-text-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
    background: var(--accent-text-color);
    /* display: inline; */
} 

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.main-slider {
    background-color: var(--background-color);
    /* height: 600px; */
    padding: 200px 0;
    /* margin-bottom: 94px; */
}

.main-button {
    background: var(--link-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--accent-text-color);
    display: flex;
    justify-content: center;
    margin: auto;
    Width: 200px;
    height: 50px;
    padding: 10px;
}

.main-button:focus, .main-button:hover {
    background: #188CE8;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-text-color);
    /* width: 696px;
    height: 120px; */
    margin-bottom: 40px;
    margin-top: 0;
}

.main-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    /* height: 16px; */
    margin: 0;
    padding: 0;
}

.list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    /* height: 75px; */
    margin: 10px 0 0 0;
    padding: 0;
}

h2 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 4px;
}

.team-section {
    text-align: center;
    background: var(--backgr-color);
    height: 648px;
    /* padding: 94px; */
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
}

.post {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin: 10px 0 0 0;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
    margin-top: 20px;
}

.mail, .telephone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.button-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--backgr-color);
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
}

.buttons-portfolio li:not(:last-child) {
    margin-right: 8px;
}

.button-portfolio:hover {
    background: var(--link-text-color);
    color: var(--accent-text-color);
    cursor: pointer;
}

.active-btn {
    color: var(--accent-text-color);
    background: var(--link-text-color);
}

.images-portfolio {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.list-portfolio {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    /* padding-left: 24px; */
    margin: 0;
}

.head-line-height {
    line-height: 15px;
    /* height: 80px; */
}

.head-line-height-contacts .nav-link {
    color: var(--title-text-color);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page-footer {
    background: var(--background-color);
    /* height: 252px; */
    padding: 60px 0; 
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 80px; */
}

.flex-list {
    display: flex;
    /* align-items: flex-start; */
    box-sizing: border-box;
    /* justify-content: space-between; */
}

.flex-inlist {
    flex-basis: 270px;
}

.flex-image {
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}

.flex-image li:not(:last-child) {
    margin-right: 30px;
}           

.flex-imagaphoto {
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}
.flex-imagaphoto li:not(:last-child) {
    margin-right: 30px;
}           

.flex-button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    /* padding-left: 295px;
    padding-right: 294px; */
}

.wrap-image {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;  */
}

/* .mar-image {
    margin: 0 30px 0 0;
} */

.flex-width {
    /* width: 294px; */
    margin-left: 93px;
}

.mail-telephone {
    margin-top: 9px;
}

.color-card {
    background-color: #FFFFFF;
   }

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.text-portfolio {
    text-align: left;
    /* padding-left: 24px; */
}

.mar-link {
    margin-left: 50px;
}

.flex-list li:not(:last-child) {
    margin-right: 30px;
}

.pad-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mar-mail {
    margin-top: 9px;
}

.pad-wrap-image {
    padding: 20px 24px 20px 24px;
    /* max-width: 370px; */
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.portfolio-list li {
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 370px;
}

.portfolio-list li:nth-child(3n) {
    margin-right: 0;
}

.portfolio-list li:nth-child(7) {
    margin-bottom: 0;
}

.portfolio-list li:nth-child(8) {
    margin-bottom: 0;
}

.portfolio-list li:nth-child(9) {
    margin-bottom: 0;
}